<header class="navbar">
  <div class="logo-area">
    <div class="logo-icon">🚗</div>
    <div class="logo-text">
      <h1>Frota Inativa</h1>
      <p>Gestão de Carros Improdutivos</p>
    </div>
  </div>

  <nav class="nav-links" id="navLinks">
    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn-dashboard">📊 Dashboard</a>
    <a routerLink="/cadastro" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn-cadastro">➕ Cadastrar</a>
    <a routerLink="/historico" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn-historico">⏱ Histórico</a>
  </nav>
</header>

